@mixin generate-hierarchy-layout(
  $nav-bar-h,
  $beta-logo-slant-w,
  $name: 'l-hierarchy'
) {
  %#{$name} {
    position: relative;
    left: $beta-logo-slant-w;
    float: left;
    height: $nav-bar-h;
    line-height: $nav-bar-h;
  }
}
