@mixin generate-beta-logo-skin(
  $beta-logo-bc,
  $nav-bar-c
) {
  %s-beta-logo {
    background-color: $beta-logo-bc;
    color: $nav-bar-c;
    text-transform: uppercase;
  }
  %s-beta-logo-slant {
    border-top: {
      color: $beta-logo-bc; 
      style: solid;
    }
    border-right: {
      color: transparent; 
      style: solid;
    }
  }
}
