@mixin generate-beta-logo-skin(
  $beta-logo-bc,
  $nav-bar-c,
  $name: 's-beta-logo'
) {
  %#{$name}-slant {
    border-top: {
      color: $beta-logo-bc; 
      style: solid;
    }
    border-right: {
      color: transparent; 
      style: solid;
    }
  }
  %#{$name} {
    background-color: $beta-logo-bc;
    color: $nav-bar-c;
    text-transform: uppercase;
    &:after {
      @extend %#{$name}-slant;
    }
  }
}
